/*CON * SE AGREGA EL ESTILO DE MANERA GLOBAL EN TODA LA PÁGINA*/
/**{
    margin: 0%;
    padding: 0%;
}*/

/* (#) PARA PODER CREAR UN ID, EL CUAL SOLO SE PODRÁ AGREGAR A UN ÚNICO ELEMENTO (NO SE REPITE MÁS DE UNA VEZ) */
#titulo_principal{
    color: #f72585;
    text-align: center;
}

h2{
    color: #3f37c9;
    text-align: center;
}

p{
    color: #457b9d;
}

/* AGREGAR UN PUTNO PARA PODER CREAR UNA CLASE DE CSS */
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}

.div_a{
    padding: 10px;
    border: 5px solid #457b9d;
    margin: 20px 450px 0px 1px;
}

.a{
    padding: 10px;
    border: 4px solid black;
    background-color: #f72585;
    color: white;
}

.titulo{
    color: #f72585;
    text-align: center;
}

.marco{
    width: 100%;
    height: 200px;
    border: 1px solid #f72585;
}

.centrar{
    text-align: center;
}

.boton{
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.boton:hover{
    background-color: #457b9d;
    color: white;
}